.unity-button.my-custom-button {
    background-color: rgba(22, 22, 22, 0.56);
    border-left-color: rgba(255, 255, 255, 0.17);
    border-right-color: rgba(255, 255, 255, 0.17);
    border-top-color: rgba(255, 255, 255, 0.17);
    border-bottom-color: rgba(255, 255, 255, 0.17);
    border-radius: 5px;
    color: rgba(238, 238, 238, 0.86);
    -unity-text-align: upper-center;
    transition-property: -unity-background-image-tint-color, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    width: 100px;
}

.unity-button.my-custom-button {
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.unity-button.my-custom-button:hover {
    -unity-background-image-tint-color: rgb(200, 200, 200);
}

.unity-button.my-custom-button:active {
    background-color: rgba(100, 100, 100, 0.8);
    color: rgb(255, 255, 255);
}

.bottom-panel {
    color: rgb(255, 255, 255);
}
